.box {
    color: var(--color-font);
    padding: var(--gap-xl) var(--gap-xxl);
    border-radius: 3rem 0 3rem 0;
    text-align: left;

    &--full {
        background-color: var(--color-primary_dark);
        color: var(--color-font-light);
    }

    &--light {
        color: var(--color-font-light);

        a {
            color: var(--color-font-light);
        }
    }

    &--small {
        text-align: center;
    
        @include res-min-tablet {
            display: block;
            width: 50%;
            margin: 0 auto;
    
        }
    }
}