.box {
    color: var(--color-font);
    padding: var(--gap-xl) var(--gap-xxl);
    border-radius: 3rem 0 3rem 0;
    text-align: left;

    &--full {
        background-color: var(--color-primary);
        color: var(--color-font-light);
    }

    &--dark {
        background-color: var(--color-primary_dark);        
    }
}