@import "../Base/Mixins/responsive";

.section {
    padding: var(--gap-xxl);

    @include res-max-mobile {
        padding: var(--gap-l);
    }

    &--contact {
        text-align: center;
        background-color: var(--color-background-sec);
    }

    &--dark {
        text-align: center;
        background-color: var(--color-primary);
        color: var(--color-font-light);
    }

    &--me {
        .box {
            margin: var(--gap-xl)
        }
    }
}