@import "Mixins/responsive";

canvas {
    background-color: transparent;
}

.flex {
    display: flex;
    
    &__two-col {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        
        @include res-min-tablet {
            > * {
                flex: 1 1 47%;
                width: 47%;
            }
        }

        @include res-max-tablet {
            flex-direction: column;
        }

    }
    &--wrap {
        flex-wrap: wrap;
    }
}

.d-ib {
    display: inline-block;
}

.desc {
    font-size: 14px;
    font-style: italic;
}

.text-center {
    text-align: center;
}