@import "Mixins/responsive";

h1 {
    font-size: 4vw;
    margin: var(--gap-xl) 0;
    color: var(--color-primary);

    @include res-max-tablet {
        font-size: 4.2rem;
    }
}

h2 {
    font-size: 3.2rem;
    margin-bottom: var(--gap-xxl);
    text-align: center;

    @include res-max-tablet {
        font-size: 2.8rem;
    }
}

h3 {
    font-size: 2.4rem;
    margin-bottom: var(--gap-l);
    
    @include res-max-tablet {
        font-size: 2rem;
    }
}

p, span {
    font-size: 1.8rem;
    vertical-align: middle;
    
    @include res-max-tablet {
        font-size: 1.6rem;
    }
}

.text-big {
    font-size: 3.2rem;
    font-weight: 700;
    margin-right: var(--gap-l);

    @include res-max-tablet {
        font-size: 2.8rem;
    }
}

a {
    color: var(--color-primary);
    font-weight: 700;
}