:root {
    --color-primary: #1B263B;
    --color-primary_dark: #141c29;
    --color-secondary: #DA344D;
    --color-font: #000000;
    --color-font-light: #FFFFFF;
    --color-background-sec: #e2e2e2;
    --gap-s: .2rem;
    --gap-m: .4rem;
    --gap-l: .8rem;
    --gap-xl: 2rem;
    --gap-xxl: 4rem;
}