@import "../Base/Mixins/responsive";

.header {
    position: relative;
    width: 100%;
    min-height: 90vh;
    background-color: #eee;

    h2 {
        font-size: 1.7vw;
        margin:var(--gap-l) 0;
        color: var(--color-primary);
        font-weight: 300;

        @include res-max-desktop-small {
            font-size: 2.4rem;
            text-align: left;
        }
    }
    
    &__photo {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        background-image: url("../Resources/me_big.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 1;

        @include res-min-desktop-small {
            background-image: url("../Resources/me_big.jpg");
            background-position: left center;
        }

        @include res-max-desktop-small {
            background-image: url("../Resources/me_small.jpg");
            background-position: right center;
        }
    }

    &__canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__logo {
        position: absolute;
        top: 5rem;
        right: 10rem;
        width: 5rem;
        height: 10rem;

        @include res-max-desktop-small() {
            left: 5rem;
        }

        svg {
            max-width: 100%;
            max-height: 100%;
            fill: var(--color-primary);
        }
    }

    &__text {
        position: absolute;
        right: 10rem;
        top: 50%;
        transform: translate(0, -50%);
        text-align: right;

        @include res-max-desktop-small {
            text-align: left;
            left: 5rem;
            width: 50%;
        }
    }
}