:root {
  --color-primary: #1B263B;
  --color-secondary: #DA344D;
  --color-font: #000000;
  --color-font-light: #FFFFFF;
  --color-background-sec: #e2e2e2;
  --gap-s: .2rem;
  --gap-m: .4rem;
  --gap-l: .8rem;
  --gap-xl: 2rem;
  --gap-xxl: 4rem;
}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Montserrat,'Arial CE',Arial,sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 4vw;
  margin: var(--gap-xl) 0;
  color: var(--color-primary);
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 4.2rem;
  }
}

h2 {
  font-size: 3.2rem;
  margin-bottom: var(--gap-l);
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 2.6rem;
  }
}

h3 {
  font-size: 2.4rem;
  margin-bottom: var(--gap-l);
}

@media only screen and (max-width: 768px) {
  h3 {
    font-size: 2rem;
  }
}

p, span {
  font-size: 1.8rem;
  vertical-align: middle;
}

@media only screen and (max-width: 768px) {
  p, span {
    font-size: 1.6rem;
  }
}

.text-big {
  font-size: 3.2rem;
  font-weight: 700;
  margin-right: var(--gap-l);
}

@media only screen and (max-width: 768px) {
  .text-big {
    font-size: 2.8rem;
  }
}

a {
  color: var(--color-primary);
  font-weight: 700;
}

canvas {
  background-color: transparent;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex__two-col {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 769px) {
  .flex__two-col > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 47%;
            flex: 1 1 47%;
    width: 47%;
  }
}

@media only screen and (max-width: 768px) {
  .flex__two-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.box {
  color: var(--color-font);
  padding: var(--gap-xl) var(--gap-xxl);
  border-radius: 3rem 0 3rem 0;
}

.box--full {
  background-color: var(--color-primary);
  color: var(--color-font-light);
}

ul .dot:before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: var(--color-font-light);
  margin-right: var(--gap-xl);
}

.refs {
  margin-top: var(--gap-xl);
}

.refs__item {
  display: inline-block;
  margin: var(--gap-xl);
}

.refs svg, .refs img {
  height: 5rem;
  vertical-align: middle;
}

.refs--itixo {
  -webkit-transform: translate(0, -8px);
          transform: translate(0, -8px);
}

.refs--lucid {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

.section {
  padding: var(--gap-xxl);
}

@media only screen and (max-width: 640px) {
  .section {
    padding: var(--gap-l);
  }
}

.section--contact {
  text-align: center;
  background-color: var(--color-background-sec);
}

.section--dark {
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-font-light);
}

.status {
  padding: var(--gap-xl) var(--gap-xxl);
  text-align: center;
  background-color: var(--color-primary);
}

.status__text {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--color-font-light);
  vertical-align: middle;
}

.status__state {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: var(--gap-l);
}

.status__state.open {
  background-color: green;
}

.status__state.close {
  background-color: red;
}

.contact {
  margin-top: var(--gap-xxl);
}

.footer {
  padding: var(--gap-l);
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: var(--color-font-light);
  font-weight: 400;
}

.header {
  position: relative;
  width: 100%;
  min-height: 90vh;
  background-color: #eee;
}

.header small {
  display: block;
  font-size: 1.7vw;
  margin: 0 0 var(--gap-l) 0;
  color: var(--color-primary);
  font-weight: 400;
}

@media only screen and (max-width: 980px) {
  .header small {
    font-size: 2.4rem;
    text-align: left;
  }
}

.header__photo {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-image: url("../Resources/me_big.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
}

@media only screen and (min-width: 981px) {
  .header__photo {
    background-image: url("../Resources/me_big.jpg");
    background-position: left center;
  }
}

@media only screen and (max-width: 980px) {
  .header__photo {
    background-image: url("../Resources/me_small.jpg");
    background-position: right center;
  }
}

.header__canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.header__logo {
  position: absolute;
  top: 5rem;
  right: 10rem;
  width: 5rem;
  height: 10rem;
}

@media only screen and (max-width: 980px) {
  .header__logo {
    left: 5rem;
  }
}

.header__logo svg {
  max-width: 100%;
  max-height: 100%;
  fill: var(--color-primary);
}

.header__text {
  position: absolute;
  right: 10rem;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  text-align: right;
}

@media only screen and (max-width: 980px) {
  .header__text {
    text-align: left;
    left: 5rem;
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */